svg {
  max-width: 100%;
}

.chart-container {
  position: relative;
}

.resource-card {
  display: block;
  padding: 10px;
}

/*Chart*/

line {
  shape-rendering: crispEdges;
}

.chart-area {
  fill-opacity: 0.5;
  shape-rendering: crispEdges;
}

.tick-y-html {
  position: absolute;
  font-size: 16px;
  transform: translateY(-50%);
}

.tick-x-html {
  position: absolute;
  font-size: 16px;
}

.tick-x-html:last-child {
  display: none;
}

.tick-x {
  text-anchor: start;
}

text {
  font-family: inherit;
  font-size: calc(40px - 3vw);
}

.line-y {
  stroke: rgb(0 0 0 / 20%);
  stroke-width: 1;
}

.chart-label {
  text-align: center;
  margin-top: -10px;
  font-weight: 500;
  font-size: 14px;
}

strong {
  font-weight: 500;
}
