<div class="day-header">
	<div class="day-label">{{day.dayName}}</div>
	<div class="day-risk">
		<div class="day-icon">{% RiskIcon day.riskLevel, 20 %}</div>
		<div class="day-name">{% RiskName day.riskLevel %}</div>
	</div>
	<div class="day-action">+</div>
</div>

{% set blocksForDay = blocks | filterBy("dayNumber", day.dayNumber) %} {% for
block in blocksForDay %}
<a class="day-block" href="/detail/{{block.timestamp}}">
	<div class="day-label">{{block.time}}</div>
	<div class="day-risk">
		<div class="day-icon">{% RiskIcon block.riskLevel, 20 %}</div>
		<div class="day-name">{% RiskName block.riskLevel %}</div>
	</div>
	<div class="day-action">></div>
</a>
{% endfor %}
