---
layout: layouts/base.njk
css: detail.css
---

<p>{{data.message}}</p>
<h1>Hello! Here is a chart.</h1>
<p></p>
<div class="chart">
	{% renderFile "src/_includes/DetailChartContainer.11ty.js", historical = historical, block = block %}
	<picture>
		<source
			srcset="/assets/img/chart/{{block.timestamp}}-320.avif, /assets/img/chart/{{block.timestamp}}-320@2x.avif 2x"
			media="(max-width: 320px)"
		/>
		<source
			srcset="/assets/img/chart/{{block.timestamp}}-360.avif, /assets/img/chart/{{block.timestamp}}-360@2x.avif 2x"
			media="(max-width: 360px)"
		/>
		<source
			srcset="/assets/img/chart/{{block.timestamp}}-800.avif, /assets/img/chart/{{block.timestamp}}-800@2x.avif 2x"
			media="(max-width: 800px)"
		/>
		<source
			srcset="/assets/img/chart/{{block.timestamp}}-320.webp, /assets/img/chart/{{block.timestamp}}-320@2x.webp 2x"
			media="(max-width: 320px)"
		/>
		<source
			srcset="/assets/img/chart/{{block.timestamp}}-360.webp, /assets/img/chart/{{block.timestamp}}-360@2x.webp 2x"
			media="(max-width: 360px)"
		/>
		<source
			srcset="/assets/img/chart/{{block.timestamp}}-800.webp, /assets/img/chart/{{block.timestamp}}-800@2x.webp 2x"
			media="(max-width: 800px)"
		/>
		<img
			src="/assets/img/chart/{{block.timestamp}}-800.avif"
			alt="Chart showing historical landslides compared to the landslide risk for {{block.timestamp}}"
		/>
	</picture>
</div>