<a
  href="{{ link.permalink }}"
  class="resource-card"
  style="background-color: {{ link.backgroundColor }}"
>
  <h3 class="resource-heading">{{ link.title }}</h3>
  <p class="resource-description">{{ link.description }}</p>
</a>
