<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title or metadata.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="{{ description or metadata.description }}">
    {% include "Favicon.njk" %}
    <link rel="stylesheet" href="/assets/css/index.css" />
    {% if css %} <link rel="stylesheet" href="/assets/css/{{css}}" /> {% endif %} 
    {% if js %} <script defer src="/assets/js/{{js}}"></script> {% endif %}
    <script defer src="/assets/js/index.js"></script>
  </head>
  <body>
    {% include "Header.njk" %}
    <main>{{ content | safe }}</main>
    {% include "Footer.njk" %}
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
