.article {
	padding: var(--space-400);
}

.article p {
	margin-bottom: var(--space-300);
}

.article h2 {
	font-weight: var(--weight-black);
	font-size: var(--size-900);
	margin: var(--space-400) 0;
}

.article h3 {
	font-weight: var(--weight-heavy);
	font-size: var(--size-800);
	margin: var(--space-400) 0;
}

.article h4 {
	font-weight: var(--weight-bold);
	font-size: var(--size-700);
	margin: var(--space-400) 0;
}

.article ul {
	list-style: disc;
	margin-left: 1.5em;
}
