.article {
  width: 100%;
}

.chart {
  position: relative;
  width: 100%;
  height: 360px;
  padding-top: var(--space-200);
}

.detail {
  display: block;
  font-size: var(--size-900);
  font-weight: var(--weight-black);
  margin-bottom: var(--space-200);
}

.datetime {
  font-size: var(--size-800);
}

.figures {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  position: relative;
  padding-bottom: var(--space-200);
}

.figures:after {
  position: absolute;
  content: "";
  background: var(--gray-500);
  left: 0;
  right: 0;
  margin: auto;
  height: calc(100% - var(--space-200));
  top: 0;
  bottom: 0;
  width: 1px;
}

.risk {
  height: 80px;
}

.figureHeading {
  font-size: var(--size-700);
  font-weight: var(--weight-black);
}

.riskBar {
  position: relative;
  height: var(--space-200);
  background-color: var(--gray-500);
  border-radius: 2px;
  margin: 0 var(--space-200);
}

.riskBarIcon {
  position: absolute;
  transform: translate(-50%, -5px);
}

.riskBarLine {
  margin-top: var(--space-500);
}

.rainfallNumber {
  font-size: var(--size-900);
  color: var(--heading);
}

.riskBarLegend {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  padding-top: var(--space-400);
}

.forecast {
  position: absolute;
  right: 0;
  z-index: 200;
  font-weight: var(--weight-heavy);
  font-size: var(--size-600);
  display: flex;
  transform: translateY(-40px);
}

.arrowUp {
  transform: translateY(calc(50% + 6px));
}

.arrowUp .forecastArrow {
  transform: scaleY(-1);
}

.arrowUp .forecastText {
  transform: translateY(55%);
}

.forecastText {
  position: relative;
  transform: translateY(-38%);
  margin-right: 0.4em;
  color: var(--heading);
  text-shadow: var(--text-stroke);
}

.forecastArrow {
  display: block;
}

@media screen and (min-width: 600px) {
  .forecast {
    transform: translateY(-40px);
  }
  .chart {
    height: 460px;
  }
}
