html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-family: var(--font-family);
  text-rendering: geometricPrecision;
  color: var(--text);
}

a {
  color: var(--link);
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--heading);
}

* {
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: var(--link) solid 2px;
  outline-offset: 1px;
}
*:focus:not(:focus-visible) {
  outline: none;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  height: 1px;
  background-color: #eee;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("/images/svg/mapboxgl-ctrl-zoom-out.svg");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
  background-image: url("/images/svg/mapboxgl-ctrl-compass.svg");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("/images/svg/mapboxgl-ctrl-zoom-in.svg");
}

a.mapboxgl-ctrl-logo {
  background-image: url("/images/svg/mapboxgl-ctrl-logo.svg");
}

.mapboxgl-ctrl-attrib-button {
  background-image: url("/images/svg/mapboxgl-ctrl-attrib.svg");
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
