.section {
	box-shadow: var(--shadow-500);
	padding: 0 var(--space-200) var(--space-300);
	background-color: var(--white);
	margin: 0 var(--space-200) var(--space-300);
}

.header {
	border-bottom: var(--gray-400) 1px solid;
	text-align: left;
	color: inherit;
	margin: 0 calc(-1 * var(--space-200));
	padding: var(--space-300) var(--space-200);
	border-top: var(--gray-400) 1px solid;
	align-items: center;
}

.message {
	display: flex;
	align-items: flex-start;
	grid-column-gap: var(--space-200);
}

.message {
}

.title {
	font-weight: var(--weight-heavy);
	font-size: var(--size-600);
	margin-bottom: var(--space-200);
}

.prepare {
	margin-top: var(--space-100);
	/*display: block;*/
}
